[color]                                                                                                                                                                     
  branch = auto
  diff = auto
  status = auto
[alias]
  last = cat-file commit HEAD
  format = commit -a -m\"[refactor] format\"
  rename = commit -a -m\"[refactor] renommage\"
  st = status -s
  co = checkout
  amend = commit --amend
  br = branch -a -v
  rb = rebase
  rbi = rebase -i
  log-stats = log --stat
  pretty-log = log --oneline --date-order --graph --all --decorate
  topo-log = log --oneline --graph --all
  limit-log = log --oneline --graph --decorate
  resume = log --oneline --graph --all -15
  logrep = "!logrep() { git log --oneline --grep=$1; }; logrep"
  logrepshow = "!logrepshow() { git log --oneline --grep=$1 | cut -d ' ' -f 1 | xargs git show --name-only; }; logrepshow"
  logbranch = log --oneline --graph --decorate
  files = show --name-status
  follow = log --graph --decorate --pretty=format:'%C(blue)[%ad %an] %C(yellow)%h%d%Creset %s' --date=short --all --follow
  tags = log --oneline --decorate --tags --no-walk
  spull = !git-svn fetch && git-svn rebase
  spush = !git-svn dcommit 
  diff = diff -p --stat
  unadd = reset HEAD --
  alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[core]
  editor = vim
  autocrlf = input
[pull]
  rebase = true
[rebase]
  autoStash = true
[init]
  defaultBranch = main
[pager]
  branch = false
